<footer>
    <div class="footer-contact">
        <h4>CONTACTO</h4>
        <p>Calle: Salto 234</p>
        <p>Ciudad: MAdrid</p>
        <p>Código Postal: 239890</p>
        <p>Teléfono: 123-456-789</p>
        <p>Móvil: 987-654-321</p>
    </div>

    <div class="footer-social">
        <h4>CONTÁCTANOS</h4>
        <br>
        

     <div class="footer-icons">
    <a href="https://www.instagram.com" target="_blank">
        <img src="/../assets/logo.png" alt="logo de instagram">
    </a>
    </div>


    <div class="footer-legal">
        <p>Flores y Vegetación. Todos los derechos reservados</p>
        <p>Ana Lucía Silva Córdoba</p>
            <a href="/login" class="login">Login</a>

        </div>
    </div>
</footer>
