<header class="header">
            <h1>Flores y Vegetaci贸n</h1>
            <p>Este sitio web es un espacio dedicado a la celebraci贸n y exploraci贸n del mundo floral y la vegetaci贸n.</p>

            <nav>
                <ul>
                     <li><a href="/">Inicio</a></li>
                    <li><a href="Contacto">Contacto</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </nav>
</header>