  <section class="formContainer">
        <form action="/login" method="POST">
            <p>Administrador</p>
            {{#if statusMessage}}
            <span>{{statusMessage}}</span>
            {{/if}}
            
            <input name="email" type="text" placeholder="Email..." autocomplete="usename">
            <input type="password" name="pass" placeholder="Contraseña" autocomplete="current-password">
            <div class="btn">
                <input type="reset" value="Limpiar">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </section>

